* {
  margin: 0;
  padding: 0
}

.wrapper {
  background-color: lightgrey;
}

.app_wrapper {
  margin: 0 auto;
  width: 900px;
  height: 100vh;
}

.logo_text {
  text-align: center;
  padding: 20px 0;  
}